<nav>
  <p class="navtitle">Travel Clever</p>
  <div class="navauth">
    <a href="/auth/logout">Logout</a>
    <a href="/auth/userpage">+ Add Routes</a>
  </div>
</nav>
<div class="savedrouteslayout">

  {{#each result}}
  <div class="singleRoute">

    <div class="generalInfo">
      <h1>{{this.pointA}} - {{this.pointB}}</h1>
      <h2>Distance: {{this.distance}} km</h2>
    </div>
    <div class="keys">
      <span><b>CO2: </b> {{   this.CO2}} kg </span>
      <span><b>NitrousOxideCO2: </b> {{  this.nitrousOxideCO2e}} kg</span>
      <span><b>MethaneCO2e: </b> {{  this.methaneCO2e}} kg</span>
      <span><b>TotalDirectCO2e: </b> {{  this.totalDirectCO2e}} kg</span>
      <span><b>IndirectCO2e: </b> {{  this.indirectCO2e}} kg</span>
      <span><b>LifeCycleCO2e: </b> {{  this.lifeCycleCO2e}} kg</span>
    </div>

    <a href="/saved-routes/delete/{{_id}}"><button class="mainbtn" class="srbtn">Delete</button></a>

  </div>
  {{/each }}

</div>