<nav>
  <p class="navtitle">Travel Clever</p>
  <div class="navauth">
    <a href="/auth/logout">Logout</a>
    <a href="/auth/userpage">+ Add Routes</a>
  </div>
</nav>

banana
{{#each result}}

<div>{{this.pointA}} - {{this.pointB}}</div>
<div>Distance: {{this.distance}} km</div>
<div class="keys">
  <div>CO2{{this.CO2}} kg </div>
  <div>NitrousOxideCO2{{this.nitrousOxideCO2e}} kg</div>
  <div>MethaneCO2e{{this.methaneCO2e}} kg</div>

  <div>TotalDirectCO2e{{this.totalDirectCO2e}} kg</div>

  <a href="/saved-routes/delete/{{_id}}">Delete</a>
</div>

{{/each }}