<nav>
  <p class="navtitle">Travel Clever</p>
    <div class="navauth">
      <a href="/">Logout</a>
      <a href="/userpage">+ Add Routes</a>
    </div>
</nav>


{{#each result}}

<div>{{this.pointA}} - {{this.pointB}}</div>
<div>{{this.distance}}</div>
<div>{{this.CO2}}</div>
<div>{{this.nitrousOxideCO2e}}</div>
<div>{{this.methaneCO2e}}</div>
<div>{{this.totalDirectCO2e}}</div>
<div>{{this.indirectCo2e}}</div>
<div>{{this.lifecycleCo2}}</div>

{{/each }}