<nav>
  <p class="navtitle">Travel Clever</p>
  <div class="navauth">
    <a href="/auth/logout">Logout</a>
    <a href="/auth/userpage">+ Add Routes</a>
  </div>
</nav>

banana
{{#each result}}

<div>{{this.pointA}} - {{this.pointB}}</div>
<div>{{this.distance}}</div>
<div>{{this.CO2}}</div>
<div>{{this.nitrousOxideCO2e}}</div>
<div>{{this.methaneCO2e}}</div>
<div>{{this.totalDirectCO2e}}</div>
<div>{{this.indirectCo2e}}</div>
<div>{{this.lifecycleCo2}}</div>

{{/each }}