<nav>
  <p class="navtitle">Travel Clever</p>
  <div class="navauth">
    {{#if user}}
    <a href="/auth/logout">Logout</a>

    <a href="/saved-routes">My saved Routes</a>
    {{/if}}
  </div>
</nav>

<div class="layout">
  <div class="rightside">
    {{#if user}}
      <div class="resultsTable">
          <h1 id="points">{{departure}} - {{destination}} </h1>
          {{#each results}}
            <div class="co2results">
              <div class="keys">{{this.type}}: {{this.value}} {{this.unit}} </div>
            </div>
          {{/each}}
          <button class="waddup">Save this route </button>
      </div>
  </div>

  <div class="searchfield">
    <button class="waddup">Save this route </button>
      <a href="/saved-routes"><button class="toSavedRoutes">TO MY SAVED ROUTES</button></a>
      <h1 class="changeMe">change here</h1>

      <form action="/searchresults" method="POST">
        <div>
          <label for="pointA">PointA:</label>
          <input type="text" name="pointA">
        </div>
        <div>
          <label for="pointB">PointB:</label>
          <input type="text" name="pointB">
        </div>
        <button type="submit">New search</button>
      </form>
  </div>
</div>
{{else}}
<h1>Please login</h1>
{{/if}}

<script>
  document.querySelector(".waddup").onclick = () => {
    console.log(axios)
    const route = {
      pointA: "",
      pointB: "",
      distance: 0,
      CO2: 0,
      nitrousOxideCO2e: 0,
      methaneCO2e: 0,
      totalDirectCO2e: 0,
      indirectCO2e: 0,
      lifeCycleCO2e: 0,
    }
    const points = document.querySelector("#points").innerHTML.split(" - ")
    console.log(points)
    route.pointA = points[0]
    route.pointB = points[1]
    document.querySelectorAll(".keys").forEach(elem => {
      const string = elem.innerHTML.split(" ")
      const key = string[0].slice(0, string[0].length - 1)
      console.log(key)
      const value = Math.round(parseFloat(string[1]))
      route[key] = value
      console.log("HALLLLOOOOOO", route)
    })
    axios.post("/saved-routes", route).then(response => {
      console.log('waddup');
      document.querySelector(".changeMe").innerText = 'changed after reponse';
      window.location.replace("http://localhost:3000/saved-routes");
    }).catch(err => {
      console.log(err)
    });
  }

</script>




<script src="/javascripts/axiosCall.js">

</script>