<div class="resultsTable">
  <h1 id="points">{{departure}} - {{destination}} </h1>
  {{#each results}}
  <div class="co2results">
    <div class="keys">{{this.type}}: {{this.value}} {{this.unit}} </div>
  </div>

  {{/each}}
</div>






</br>


<button class="waddup"><a href="/allRoutes">Save this route</a> </button>
<h1 class="changeMe">change here</h1>


<form action="/searchresults" method="POST">
  <div>
    <label for="pointA">PointA:</label>
    <input type="text" name="pointA">

  </div>
  <div>
    <label for="pointB">PointB:</label>
    <input type="text" name="pointB">
  </div>
  <button type="submit">New search</button>

</form>

<script src="/javascripts/axiosCall.js">

</script>