<nav>
  <p class="navtitle">Travel Clever</p>
    <div class="navauth">
      <a href="/">Logout</a>
      <a href="/saved-routes">My saved Routes</a>
    </div>
</nav>

<div class="resultsTable">
  <h1 id="points">{{departure}} - {{destination}} </h1>
  {{#each results}}
  <div class="co2results">
    <div class="keys">{{this.type}}: {{this.value}} {{this.unit}} </div>
  </div>

  {{/each}}
</div>

<button class="waddup">Save this route </button>
<h1 class="changeMe">change here</h1>


<script>
  document.querySelector(".waddup").onclick = () => {
    console.log(axios)
    const route = {
      pointA: "",
      pointB: "",
      distance: 0,
      CO2: 0,
      nitrousOxideCO2e: 0,
      methaneCO2e: 0,
      totalDirectCO2e: 0,
      indirectCO2e: 0,
      lifeCycleCO2e: 0,
    }
    const points = document.querySelector("#points").innerHTML.split(" - ")
    console.log(points)
    route.pointA = points[0]
    route.pointB = points[1]
    document.querySelectorAll(".keys").forEach(elem => {
      const string = elem.innerHTML.split(" ")
      const key = string[0].slice(0, string[0].length - 1)
      console.log(key)
      const value = Math.round(parseFloat(string[1]))
      route[key] = value
    })
    console.log("What a surprise, smth is working ")
    axios.post("/saved-routes", route).then(response => {
      console.log('waddup');
      document.querySelector(".changeMe").innerText = 'changed after reponse';
      window.location.replace("http://localhost:3000/saved-routes");
    }).catch(err => {
      console.log(err)
    });
  }

</script>


</br>



<form action="/searchresults" method="POST">
  <div>
    <label for="pointA">PointA:</label>
    <input type="text" name="pointA">

  </div>
  <div>
    <label for="pointB">PointB:</label>
    <input type="text" name="pointB">
  </div>
  <button type="submit">New search</button>

</form>

<script src="/javascripts/axiosCall.js">

</script>